<script>
  function hasAnsweredCorrectly(problemId, userId) {
    return ajax(`/api/problem/{{this.id}}/submissions/${getUserId()}/correct`).then(res => res.ok ? res.json() : false).then(d => d ? '★' : '☆');
  }

  function isFastestSubmission(problemId, userId) {
    return ajax(`/api/problem/${problemId}/submissions/fastest`).then(res => res.ok ? res.json() : null).then(data => {
      return data && data.userId === userId;
    });
  }
</script>

<div>
  <div class="stack" style="width: fit-content;">
      {{#each problems}}
        <a href="{{concat '/problems/' this.id}}"
           style="display: flex; gap: 8px"
        x-data="{ isFastestSubmission: false, hasAnsweredCorrectly: false }"
        x-init="
        ajax(`/api/problem/{{this.id}}/submissions/${getUserId()}/fastest`)
        .then(res => res.ok ? res.json() : null).then(d => isFastestSubmission = Boolean(d))
        .then(data => { return data && data.userId === getUserId(); }); 
       
        ajax(`/api/problem/{{this.id}}/submissions/${getUserId()}/correct`)
        .then(res => res.ok ? res.json() : false).then(d => hasAnsweredCorrectly = Boolean(d));"
        >
          <span>
            {{concat this.id '. '}}
          </span>
          <span style="display: inline-flex; align-items: center; gap: 4px; flex: 1">
            <span style="flex-grow: 1;margin-inline-end: 8px">{{this.title}}</span>
            <span x-text="hasAnsweredCorrectly ? '★' : '☆'"></span>
            <span x-text="isFastestSubmission  ? '★' : '☆'"></span>
          </span>
        </a>
      {{/each}}
  </div>
</div>