<script>
  function hasAnsweredCorrectly(problemId, userId) {
    return ajax(`/api/problem/{{this.id}}/submissions/${getUserId()}/correct`).then(res => res.ok ? res.json() : false).then(d => d ? '★' : '☆');
  }

  function isFastestSubmission(problemId, userId) {
    return ajax(`/api/problem/${problemId}/submissions/fastest`).then(res => res.ok ? res.json() : null).then(data => {
      return data && data.userId === userId;
    });
  }
</script>

<div>
  <div class="stack" style="width: fit-content;">
      {{#each problems}}
        <a href="{{concat '/problems/' this.id}}" 
        x-data="{ isFastestSubmission: false, hasAnsweredCorrectly: false }"
        x-init="
        isFastestSubmission = await ajax(`/api/problem/{{this.id}}/submissions/fastest`)
        .then(res => res.ok ? res.json() : null)
        .then(data => { return data && data.userId === getUserId(); }); 

        hasAnsweredCorrectly = 
        ajax(`/api/problem/{{this.id}}/submissions/${getUserId()}/correct`)
        .then(res => res.ok ? res.json() : false)"
        >
          <span>
            {{concat this.id '.'}}
          </span>
          <span>
            <span>{{this.title}}</span>
            <span x-text="hasAnsweredCorrectly ? '★' : '☆'"></span>
            <span x-text="isFastestSubmission  ? '★' : '☆'"></span>
          </span>
        </a>
      {{/each}}
  </div>
</div>