<script>
    function hasAnsweredCorrectly(problemId, userId) {
        return ajax(`/api/problem/{{this.id}}/submissions/${getUserId()}/correct`).then(res => res.ok ? res.json() : false).then(d => d ? '★' : '☆');
    }

    function isFastestSubmission(problemId, userId) {
        return ajax(`/api/problem/${problemId}/submissions/fastest`).then(res => res.ok ? res.json() : null).then(data => {
            return data && data.userId === userId;
        });
    }
</script>

<div class="grid-wrapper">
    <div class="stack" style="width: fit-content;">
        <p class="section-title">
            Tareas
        </p>
        {{#each problems}}
            <a href="{{concat '/problems/' this.id}}"
               style="display: flex; gap: 8px"
               x-data="{ isFastestSubmission: false, hasAnsweredCorrectly: false }"
               x-init="
        ajax(`/api/problem/{{this.id}}/submissions/${getUserId()}/fastest`)
        .then(res => res.ok ? res.json() : null).then(d => isFastestSubmission = Boolean(d))
        .then(data => { return data && data.userId === getUserId(); }); 
       
        ajax(`/api/problem/{{this.id}}/submissions/${getUserId()}/correct`)
        .then(res => res.ok ? res.json() : false).then(d => hasAnsweredCorrectly = Boolean(d));"
            >
          <span>
              {{concat @index '. '}}
          </span>
                <span style="display: inline-flex; align-items: center; gap: 4px; flex: 1">
            <span style="flex-grow: 1;margin-inline-end: 8px">{{this.title}}</span>
            <span x-text="hasAnsweredCorrectly ? '★' : '☆'"></span>
            <span x-text="isFastestSubmission  ? '★' : '☆'"></span>
          </span>
            </a>
        {{else}}
            Aún no hay problemas disponibles, ¡vuelve mañana mejor!
        {{/each}}
    </div>

    <div class="stack articles" x-data="{content: '', title: ''}" style="align-items: flex-end">
        <p class="section-title" style="margin-inline-end: 16px">
            Artículos
        </p>
        <template x-if="!content">
            <div style="justify-self: end; display: flex; flex-direction: column; gap: 8px" class="article-list">
                {{#each articles}}
                    <button @click="content = `{{this.content}}`; title = `{{this.date}}` ;"
                            style="width: fit-content">{{this.date}}</button>
                {{ else }}
                    Aún no hay nada aquí, ansias.
                {{/each}}
            </div>
        </template>
        <template x-if="content">
            <div style="display: flex; flex-direction: column; gap: 8px;">
                <div style="display: flex; align-items: center; justify-content: space-between; gap: 8px">
                    <span x-text="title"></span>
                    <button @click="content = ''" style="margin-inline-start: auto" class="primary">volver</button>
                </div>
                <div x-html="content" class="article-content"></div>
            </div>
        </template>
    </div>
</div>