<link rel="stylesheet" href="/styles/problem.css">

<div x-data="{ data: {}, ready: false, showSubmissions: false, testCodeResults: [], submittedCodeResult: [], submittingCode: false }"
     x-init="await getProblem(data); loadEditor(data.submissions); ready = true;">

    <div id="main">
        <div id="description">
            <p class="section-title">{{problem.id}}. {{problem.title}}</p>
            <span><i>{{problem.description}}</i></span>
            <div style="margin-block-start: 8px; border-top: 1px solid">
                {{{problem.content}}}
            </div>
        </div>

        <aside>
            <div id="editor"></div>
            <div>
                <div class="code-actions">
                    <button @click="showSubmissions = !showSubmissions;" style="margin-inline-end: auto" :disabled="submittingCode">Your submissions</button>
                    <button @click="showSubmissions = false; submittedCodeResult.length = 0; testCode(testCodeResults)" :disabled="submittingCode">test code</button>
                    <button class="primary" @click="showSubmissions = false; submittingCode = true; submitProblem(submittedCodeResult).then(() => submittingCode = false)" x-text="submittingCode ? 'submitting' : 'submit code'" :disabled="submittingCode"></button>
                </div>
                <template x-if="ready">
                    <div x-show="showSubmissions">
                        <ul>
                        <template x-for="submission of data.submissions" :key="submission.id">
                            <div x-data="{open: false}">
                                <li>
                                    <button x-text="'Submission ' + submission.id" @click="open = true" @click.outside="open = false"></button>
                                    <span :class="submission.status" x-text="submission.status"></span>
                                </li>
                                <template x-if="open">
                                    <table style="margin-block: 8px" class="table-with-border">
                                        <tr>
                                            <td style="padding-inline-end: 8px">Output</td>
                                            <td x-text="submission.output || 'undefined'"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-inline-end: 8px;white-space: nowrap">Execution time</td>
                                            <td x-text="submission.execution_time + ' ms'"></td>
                                        </tr>
                                    </table>
                                </template>
                            </div>
                        </template>
                        </ul>

                    </div>
                </template>
                <template x-if="testCodeResults?.length">
                    <div class="code-results">
                        <p>Test code results</p>
                        <ul>
                            <template x-for="(result, index) in testCodeResults" :key="index">
                                <div x-data="{open: false}">
                                    <li>
                                        <button x-text="'Test Case ' + (index + 1)" @click="open = true" @click.outside="open = false"></button>
                                        <span :class="result.status" x-text="result.status"></span>
                                    </li>
                                    <template x-if="open">
                                        <table style="margin-block: 8px">
                                            <tr>
                                                <td style="padding-inline-end: 8px">Input</td>
                                                <td x-text="result.input"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-inline-end: 8px">Output</td>
                                                <td x-text="result.desiredOutput"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-inline-end: 8px">Received</td>
                                                <td x-text="result.output"></td>
                                            </tr>
                                        </table>
                                    </template>
                                </div>
                            </template>
                        </ul>
                        <template x-if="testCodeResults.some(r => r.status !== 'correct')">
                            <p>Code is incorrect. I wouldn't submit it.</p>
                        </template>
                        <template x-if="testCodeResults.every(r => r.status === 'correct')">
                            <p>Code is correct. Try to
                                <button style="display: inline;" class="primary"
                                        @click="submitProblem(submittedCodeResult)">submit
                                    it
                                </button>
                                .
                            </p>
                        </template>
                    </div>
                </template>
                <template x-if="submittingCode">
                    <p>Submission in progress... Wait a minutito po favo</p>
                </template>
                <template x-if="submittedCodeResult.length && submittedCodeResult.at(0)">
                    <div x-data="result = submittedCodeResult.at(0)" class="code-results">
                        <p>Submission result</p>
                        <ul>
                            <li>
                                <span>Status</span>
                                <span :class="result.status" x-text="result.status"></span>
                            </li>
                            <li>
                                <span>Execution time</span>
                                <span x-text="result.execution_time + ' ms'"></span>
                            </li>
                            <li>
                                <span>Output</span>
                                <span x-text="result.output"></span>
                            </li>
                        </ul>
                        <p x-text="result.status === 'correct' ? 'Congratulations! Code is correct' : 'Buuuuuu tonto'"></p>
                    </div>
                </template>
            </div>

        </aside>

    </div>
    <script src="/scripts/ace.js"></script>
    <script src="/scripts/ext-language_tools.js"></script>
    <script src="/scripts/ace-linters.js"></script>
    <script>
        function loadEditor(submissions) {
            ace.require("ace/ext/language_tools"); //To allow autocompletion
            var editor = ace.edit("editor", {
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true,
                mode: 'ace/mode/javascript'
            });
            editor.setTheme("ace/theme/github_dark");
            editor.setOption("showGutter", false);

            const lastCorrectSubmissionCode = submissions?.find(s => s.status === 'correct')?.submission;
            editor.setValue(lastCorrectSubmissionCode ?? `{{{problem.initial_code}}}`)
            editor.clearSelection();
            var provider = LanguageProvider.fromCdn("https://www.unpkg.com/ace-linters@latest/build/");
            provider.registerEditor(editor);
        }

        async function getProblem(data) {
            const userId = getUserId();
            if (!userId) alert('No user id found, please login first');

            const subs = await ajax(`/api/problem/{{problem.id}}/submissions/${userId}`).then(res => res.json());
            data.submissions = subs.submissions;
        }

        async function submitProblem(submittedCodeResult) {
            submittedCodeResult.length = 0;

            const code = ace.edit("editor").getValue();

            const response = await ajax(`/api/problem/{{problem.id}}/submit`, {
                method: 'POST',
                body: JSON.stringify({code})
            }).then(res => res.json());

            submittedCodeResult.push({
                status: response.status,
                execution_time: response.executionTime,
                output: response.output,
            })
        }

        async function testCode(testCodeResults) {
            testCodeResults.length = 0;
            const code = ace.edit("editor").getValue();
            const {testCases} = await ajax('/api/problem/{{problem.id}}/test-cases').then(res => res.json());

            testCases.forEach(test => {
                console.debug(`Running test case with input: ${test.input.trim()}`);
                const response = eval(code + `  main(\`${test.input}\`)`);
                console.debug(`Expected: ${test.expected_output}, Got: ${response}`);
                setTimeout(() => {
                    testCodeResults.push({
                        status: response == test.expected_output ? 'correct' : 'incorrect',
                        input: test.input,
                        desiredOutput: test.expected_output,
                        output: `${response}`,
                    })
                }, 100);
            })
        }

    </script>
</div>