<link rel="stylesheet" href="/styles/problem.css">

<div x-data="{ data: {}, ready: false, showSubmissions: false, testCodeResults: [], submittedCodeResult: [], submittingCode: false }"
     x-init="await getProblem(data); loadEditor(data.submissions); ready = true;">

    <div id="main">
        <div id="description">
            <p class="section-title">{{problem.id}}. {{problem.title}}</p>
            <span><i>{{problem.description}}</i></span>
            <div style="margin-block-start: 8px; border-top: 1px solid">
                {{{problem.content}}}
            </div>
        </div>

        <aside>
            <div id="editor"></div>
            <div>
                <div class="code-actions">
                    <button @click="showSubmissions = !showSubmissions;" style="margin-inline-end: auto"
                            :disabled="submittingCode">ver intentos
                    </button>
                    <button @click="showSubmissions = false; submittedCodeResult.length = 0; testCode(testCodeResults)"
                            :disabled="submittingCode">probar código
                    </button>
                    <button class="primary"
                            @click="showSubmissions = false; submittingCode = true; submitProblem(submittedCodeResult, testCodeResults).then(() => submittingCode = false)"
                            x-text="submittingCode ? 'enviando' : 'enviar código'" :disabled="submittingCode"></button>
                </div>
                <template x-if="ready">
                    <div x-show="showSubmissions">
                        <ul>
                            <template x-for="submission of data.submissions" :key="submission.id">
                                <div x-data="{open: false}">
                                    <li>
                                        <button x-text="'Intento ' + submission.id" @click="open = true"
                                                @click.outside="open = false"></button>
                                        <span class="status" :class="submission.status" x-text="submission.status === 'correct' ? 'correcto' : 'incorrecto' "></span>
                                    </li>
                                    <template x-if="open">
                                        <table style="margin-block: 8px" class="table-with-border">
                                            <tr>
                                                <td style="padding-inline-end: 8px;white-space: nowrap">Tiempo de ejecución
                                                </td>
                                                <td x-text="submission.execution_time + ' ms'"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-inline-end: 8px;white-space: nowrap">Tiempo para la segunda estrella
                                                </td>
                                                <td x-text="'{{problem.execution_time_threshold}} ms'"></td>
                                            </tr>
                                        </table>
                                    </template>
                                </div>
                            </template>
                        </ul>

                    </div>
                </template>
                <template x-if="testCodeResults?.length">
                    <div class="code-results">
                        <p>Resultados de los tests</p>
                        <ul>
                            <template x-for="(result, index) in testCodeResults" :key="index">
                                <div x-data="{open: false}">
                                    <li>
                                        <button x-text="'Test ' + (index + 1)" @click="open = true"
                                                @click.outside="open = false"></button>
                                        <span class="status" :class="result.status" x-text="result.status === 'correct' ? 'correcto' : 'incorrecto'"></span>
                                    </li>
                                    <template x-if="open">
                                        <div>
                                            <table style="margin-block: 8px" class="table-with-border">
                                                <tr>
                                                    <td style="padding-inline-end: 8px">Input</td>
                                                    <td ><span x-text="truncate(result.input)"></span></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-inline-end: 8px">Esperado</td>
                                                    <td><span x-text="truncate(result.desiredOutput)"></span></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-inline-end: 8px">Recibido</td>
                                                    <td x-text="truncate(result.output)"></td>
                                                </tr>
                                            </table>
                                            <i>Tip: consulta en la consola los datos completos si se muestran del todo aquí.</i>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </ul>
                        <template x-if="testCodeResults.some(r => r.status !== 'correct')">
                            <p>El código es incorrecto, yo no lo enviaría.</p>
                        </template>
                        <template x-if="testCodeResults.every(r => r.status === 'correct')">
                            <p>El código ha pasado las pruebas.
                                <button style="display: inline;" class="primary"
                                        @click="submitProblem(submittedCodeResult)">enviar
                                </button>
                                .
                            </p>
                        </template>
                    </div>
                </template>
                <template x-if="submittingCode">
                    <p>Evaluando tu código... Wait a minutito po favo</p>
                </template>
                <template x-if="submittedCodeResult.length && submittedCodeResult.at(0)">
                    <div x-data="result = submittedCodeResult.at(0)" class="code-results">
                        <p>Resultado</p>
                        <ul>
                            <li>
                                <span>Resultado</span>
                                <span class="status" :class="result.status" x-text="result.status"></span>
                            </li>
                            <li>
                                <span>Tiempo de ejecución</span>
                                <span x-text="result.execution_time + ' ms'"></span>
                            </li>
                        </ul>
                        <div style="overflow-x:auto;">
                            <table style="margin-block: 8px; table-layout: auto " class="table-with-border">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Estado</th>
                                    <th>Input</th>
                                    <th>Esperado</th>
                                    <th>Recibido</th>
                                    <th>Tiempo de ejecución</th>
                                </tr>
                                </thead>
                                <tbody>
                                <template x-for="(test, index) in result.tests" :key="index">
                                    <tr>
                                        <td><span x-text="index + 1"></span></td>
                                        <td><span x-text="test.status ? 'correcto' : 'incorrecto'"
                                                  class="status"
                                                  :class="test.status ? 'correct' : 'incorrect'"></span></td>
                                        <td><span x-text="test.input"></span></td>
                                        <td><span x-text="truncate(test.desiredOutput)"></span></td>
                                        <td><span x-text="test.output"></span></td>
                                        <td><span x-text="test.executionTime + ' ms'"></span></td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                            <i>Tip: consulta en la consola los datos completos si se muestran del todo aquí.</i>
                        </div>
                        <p x-text="result.status === 'correct' ? '¡Enhorabuena! Has conseguido pasar la prueba.' : 'El resultado no es correcto. Intenta averiguar por qué.'"></p>
                    </div>
                </template>
            </div>

        </aside>

    </div>
    <script src="/scripts/ace.js"></script>
    <script src="/scripts/ext-language_tools.js"></script>
    <script src="/scripts/ace-linters.js"></script>
    <script>
        function loadEditor(submissions) {
            ace.require("ace/ext/language_tools"); //To allow autocompletion
            var editor = ace.edit("editor", {
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true,
                mode: 'ace/mode/javascript'
            });
            editor.setTheme("ace/theme/github_dark");
            editor.setOption("showGutter", false);

            const lastCorrectSubmissionCode = submissions?.find(s => s.status === 'correct')?.submission;
            editor.setValue(lastCorrectSubmissionCode ?? `{{{problem.initial_code}}}`)
            editor.clearSelection();
            var provider = LanguageProvider.fromCdn("https://www.unpkg.com/ace-linters@latest/build/");
            provider.registerEditor(editor);
        }

        async function getProblem(data) {
            const userId = getUserId();

            const subs = await ajax(`/api/problem/{{problem.id}}/submissions/${userId}`).then(res => res.json());
            data.submissions = subs.submissions;
        }

        async function submitProblem(submittedCodeResult, testCodeResults) {
            submittedCodeResult.length = 0;
            testCodeResults.length = 0;

            const code = ace.edit("editor").getValue();

            const response = await ajax(`/api/problem/{{problem.id}}/submit`, {
                method: 'POST',
                body: JSON.stringify({code})
            }).then(res => res.json());

            console.debug('Submission result');
            console.log(response);

            submittedCodeResult.push({
                status: response.status,
                execution_time: response.executionTime,
                output: response.output,
                tests: response.tests
            })
        }

        async function testCode(testCodeResults) {
            testCodeResults.length = 0;
            const code = ace.edit("editor").getValue();
            const {testCases} = await ajax('/api/problem/{{problem.id}}/test-cases').then(res => res.json());

            testCases.forEach(test => {
                console.debug(`Running test case with input: ${test.input.trim()}`);
                const response = eval(code + `  main(\`${test.input}\`)`);
                console.debug(`Expected: ${test.expected_output}, Got: ${response}`);
                setTimeout(() => {
                    testCodeResults.push({
                        status: response == test.expected_output ? 'correct' : 'incorrect',
                        input: test.input,
                        desiredOutput: test.expected_output,
                        output: `${response}`,
                    })
                }, 100);
            })
        }

    </script>
</div>